<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewMarks</title>
</head>
<body>
    {% csrf_token %}
    <table width="345" height="70" border="1" align="center">
        <tr>
            <td>SI.NO</td>
            <td>Exam</td>
            <td>Subject</td>
            <td>mark</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>